/ {
    leds {
        red_led: led_2 {
          gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
        };

        blue_led: led_1 {
          gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
        };

        green_led: led_0 {
          gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
        };
    };
};